:root {
  --main-color: #0059ff;
  --light-text-color: #fff;
  --main-bg-color: #000b16;
  --card-bg-color: #34343457;
  --text-color: #ffffff;
  --border-color: #e0e0e0;
  --button-hover-bg: #003bb3;
}
