.button {
  padding: 15px;
  border: 1px solid #ffffff3f;
  border-radius: 10px;

  transition: all 0.2s;
  cursor: pointer;
  p {
    color: #dfdfdffb;
    font-size: 12px;
    font-weight: 500;
  }

  &:hover {
    border-color: var(--main-color);
    background: #2c2c2ce3;
  }
}
