.container {
  position: relative;
  display: inline-block;

  .button {
    gap: 20px;

    display: inline;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-light-color);
    background: #ffffff00;
    border-bottom: 2px solid #5585ff;
  }
}

.list {
  position: absolute;
  z-index: 1000;
  top: 120%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  max-height: 200px;
  overflow-y: scroll;
  &__item {
    background: #fff;
    color: #000000;
    font-size: 16px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: #e4e4e4;
    }
  }
  &::-webkit-scrollbar {
    width: 4px;
    opacity: 0;
    background: #0000000c;
  }
  &::-webkit-scrollbar-thumb {
    width: 4px;
    background: rgba(20, 83, 192, 0.301);
    border-radius: 10px;
  }
}

.icon {
  svg {
    fill: #fff;
  }
}
