.container {
  display: grid;
  grid-template-columns: 5fr 6fr;
  min-height: 100vh;
  background: linear-gradient(135deg, #3b82f6, #9333ea);
}

.inf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  gap: 12px;
  color: #fff;
  &__title {
    color: #ffff0f;

    font-size: 32px;
  }
  &__text {
    font-size: 16px;
    line-height: 130%;
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .inf {
    display: none;
  }
}
