$primary-color: #5d5dff;
$secondary-color: #333333;
$text-color: #4a4a4a;
$bg-color: #f7f9fc;
$card-bg-color: #b7b7b7;
$border-color: #e0e0e0;
$highlight-color: #ffc107;
$exception-bg: #fffbe6;
$note-bg: #e6f7ff;

.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  // background-color: $bg-color;
  background: linear-gradient(135deg, #3d2c60, #290468);
}

.article {
  max-width: 900px;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid $border-color;
  padding-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: $primary-color;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.1rem;
  color: $secondary-color;
}

.section {
  margin-bottom: 2rem;
}

.sectionTitle {
  font-size: 1.75rem;
  font-weight: 700;
  color: $secondary-color;
  border-bottom: 2px solid $primary-color;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.subheading {
  font-size: 1.2rem;
  font-weight: 500;
  color: #666666;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.6;
  color: $text-color;
}

.highlight {
  font-weight: bold;
  color: $primary-color;
}

.exampleBlock {
  background-color: #f0f0f0;
  border-left: 4px solid $primary-color;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}

.list,
.orderedList {
  margin: 1rem 0 1rem 1.5rem;
  padding: 0;
  line-height: 1.8;
  color: $text-color;

  li {
    margin-bottom: 0.5rem;
  }
}

.listHighlight {
  font-weight: bold;
  color: $primary-color;
}

.arrowIcon {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

.grammarTable {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  font-size: 0.95rem;

  th,
  td {
    border: 1px solid $border-color;
    padding: 12px 15px;
    text-align: left;
  }

  thead {
    background-color: #ececec;
    font-weight: bold;
    color: #555555;
  }
}

.note {
  background-color: $note-bg;
  border-left: 4px solid #007bff;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 4px;
  font-size: 0.95rem;
  color: #004085;
}

.noteIcon {
  margin-right: 0.5rem;
}

.orderedList {
  counter-reset: my-counter;

  li {
    list-style: none;
    position: relative;

    &::before {
      content: counter(my-counter) ".";
      counter-increment: my-counter;
      font-weight: bold;
      color: $primary-color;
      position: absolute;
      left: -2rem;
      top: 0;
    }
  }
}

.listItemText {
  font-weight: bold;
}

.exceptionBox {
  background-color: $exception-bg;
  border: 1px solid $highlight-color;
  padding: 1.5rem;
  border-radius: 12px;
  margin: 2rem 0;
}

.exceptionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: $secondary-color;
  margin-bottom: 1rem;
}

.exceptionText {
  color: #d1b402;
  font-weight: 500;
}
